.main-header {
  background-color: rgba(12, 18, 40, 1);
}
/* start here */
.roww{
  align-items: center;
  justify-content: center;
}

.event-section{
  padding-top: 120px;
  min-height: 60vh;
}

.left-content{
  margin-top: 50px;
}

.right-content{
  margin-top: 70px;
  margin-bottom: 50px;
}


.left-content h3{
  font-size: 30px;
  font-weight: 700;
  border-bottom: 1px solid black;
}

.left-content p{
  padding-top: 20px;
  font-size: 17px;
  line-height: 1.6;
}

.register-btn{
  margin-bottom: 70px;
  margin-top: 15px;
}

.tuned-row{
  padding-top: 30px;
  align-items: center;
  justify-content: center;
  text-align: left;
}

.tuned-row h4{
  font-size: 30px;
  font-weight: 700;
}

.tuned-row img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.all-events-section{
  padding-top: 120px;
  min-height: 60vh;
  background-image: url(../images/backg2.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.card{
  border: none;

}

.card:hover{
  cursor: pointer;
}

.card-block:hover p{
  color: white;
}
.card-block:hover h4{
  color: white;
}

.card-block{
  background-color: #fff;
  border-radius: 10px;
  padding: 30px 25px;
  margin-bottom: 30px;
  overflow: hidden;
  box-shadow: 0px 10px 10px 10px rgb(90 111 120 / 15%);
  transition: all 0.4s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  height: 400px;
  transition: all 0.5s ease;
}

.card-block:hover{
  background-color: #172238;
}
.card img {
  width: 114px;
  height: 114px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  /* background-color: #172238; */
}

.card h4 {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #1e1e1e;
  letter-spacing: 0.5px;
  font-weight: 700;
  margin: 25px 0px 8px;
}

.card p {
  margin-bottom: 25px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  color: #333;
  overflow:hidden;
  line-height: 1.6rem;
  max-height: 8rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 5;
}

.card .more-btn {
  float: right;
  /* display: inline-block; */
  margin-top: 00px;
  font-weight: 600;
}

.card .more-btn a {
  color: #222;
  font-size: 14px;
}

@media (max-width: 768px) {
  .right-content{
    margin-top: -30px;
    width: 85%;
    align-self: center;
  }
  .left-content h3{
    margin-top: -20px;
  }
  .tuned-row{
    margin-top: -30px;
    text-align: center;
  }
  .tuned-row img{
    width: 60%;
    margin-top: 50px;
    align-self: center;
  }
  .card{
    margin: 0px 30px;
  }
  .back-btn{
    margin-left: 30px;
    margin-top: -10px;
  }
}
