.NavigationBar
    & header
        .logo
            & img
                height: 32px !important
                width: auto !important
        & li
            & a
                color: var(--color-white) !important
    .menu-link
        color: white !important
