body {
  margin: 0;
  padding: 0;
  /* background-color: black; */
}

:root {
  --primary-color: #2fb3fe;
  --secondary-color: #0fe9a7;
  --fourth-color: #191c20;
  --secondary-black: #6a7481;
  --color-white: #fff;
  --tertianary-blue: #6675ff;
}

.scrollUp {
  background-color: var(--secondary-color) !important;
}
